<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
      <ion-item>
        {{auth.profile}}
      </ion-item>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Facebook
        <label class="toggle">
          <input type="checkbox" ng-model="settings.isAuthenticated">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
