<ion-view title="discover">
    <ion-content scroll="false" style="bottom: 0!important;">
        <div class="sobazaar-card">
            <a ui-sref="search.brand">
                <disabled-search-bar placeholder="search for brands, products or users"></disabled-search-bar>
            </a>
            <h1>trending users</h1>
        </div>
        <recommended-userlist style="position: absolute; width: 100%; top: 140px; bottom: 0;" data="data"></recommended-userlist>
    </ion-content>
</ion-view>
