<ion-view title="Comments">
    <ion-content>
        <commentlist data="data"></commentlist>

        <div class="list">
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Write a comment" focus-me="focus" ng-model="commentText">
                </label>
                <button class="button button-small" ng-click="postComment(commentText); commentText=''">
                    Send
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>
