<ion-view title="Followers">
    <ion-content scroll="false" style="bottom: 0!important;">
        <profilelist style="position: absolute; width: 100%; top: 0; bottom: 0;" data="data"></profilelist>
    </ion-content>
</ion-view>
