<ion-view view-title="Api">
    <ion-content>
        {{success}}
        {{error}}
        <ion-list>
            <ion-item>
                <button class="button-block" ng-click="authenticate()">/api/auth/facebook/</button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>