<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- Using custom scss
    <link href="assets/lib/ionic/css/ionic.css" rel="stylesheet">
    -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/scss/ionic.app.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="assets/lib/ionic/js/ionic.bundle.js"></script>
    <script src="assets/lib/auth0-lock/build/auth0-lock.js"></script>

    <!-- virtual scrolling, reduce digest cycle on long ng-repeat lists -->
    <script src="assets/lib/angular-vs-repeat/src/angular-vs-repeat.js"></script>

    <!-- Testing sticky headers which use jQuery... :( -->
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- fb login -->
    <script src="assets/lib/openFB/openfb.js"></script>
    <script>
      openFB.init({appId: 760039014078334});
      //openFB.init({appId: 537813922979647});
    </script>

    <!-- your app's js -->
    <script src="sobazaar/app.js"></script>
    <script src="sobazaar/controllers.js"></script>
    <script src="sobazaar/services.js"></script>
    <script src="sobazaar/home/app.js"></script>
    <script src="sobazaar/profile/app.js"></script>
    <script src="sobazaar/product/app.js"></script>
    <script src="sobazaar/discover/app.js"></script>
    <script src="sobazaar/search/app.js"></script>
    <script src="sobazaar/board/app.js"></script>
    <script src="sobazaar/comment/app.js"></script>
    <script src="sobazaar/news/app.js"></script>
    <script src="sobazaar/core/app.js"></script>
    <script src="sobazaar/core/directives.js"></script>
    <script src="sobazaar/core/buttonDirectives.js"></script>
    <script src="sobazaar/core/models.js"></script>
    <script src="auth/app.js"></script>
    <script src="api/app.js"></script>
    <script src="cache/app.js"></script>

    <style>

      .box-66 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.6666%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 66.6666%;
        -ms-flex: 0 0 66.6666%;
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
        max-height: 66.6666%;
        width: 500px;
        height: 500px;
      }

      .box-33 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.3333%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 33.3333%;
        -ms-flex: 0 0 33.3333%;
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        max-height: 33.3333%;

      }

      .wide-as-needed {
        overflow: scroll;
        white-space: nowrap;
      }

    .card-layout img {
        width: 100%;
        display: block;
      }

      .box {
        position: relative;
        width: 100%;
      }

      .box:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }


      .sobazaar-content {
        max-width: 414px;
        margin: auto;
      }

      .sobazaar-card {
        max-width: 414px;
        margin: 0 auto;
        margin-bottom: auto;
        padding: 0;
      }

      .gallery {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
      }

      .center-vertical {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .center-vertical > * {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
      }
    </style>
  </head>
  <body ng-app="starter">

    <!--
      6x6
      3x6:3x6
      6x3:6x3
      6x3:3x3:3x3
      3x3:3x3:6x3
      3x3:3x6:3x3
      3x6:3x3:3x3
      3x3:3x3:3x3:3x3
      4x4:2x4:2x2:2x2:2x2
      4x4:2x2:2x2:4x2:2x2
      4x4:2x2:2x2:2x2:4x2
      4x4:2x2:2x2:2x2:2x2:2x2
      2x4:2x4:2x2:2x2:2x2:4x2
      2x4:2x4:2x2:2x2:2x2:2x2:2x2
      2x2:2x2:2x2:2x2:2x2:2x2:2x2:2x2:2x2
      4x6:2x2:2x2:2x2
      4x4:2x2:2x2:4x2:2x2
    -->

    <script id="/modals/edit_card_modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Card actions</h1>
        </ion-header-bar>
        <ion-content>
          <p>Coming soon...</p>
          <p>max width should be same as background content</p>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="/modals/share_modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <h1 class="title">Share actions</h1>
        </ion-header-bar>
        <ion-content>
          <p>Coming soon...</p>
          <p>max width should be same as background content</p>
        </ion-content>
      </ion-modal-view>
    </script>

    <script type="text/ng-template" id="/layouts/6x6.html">
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/3x6:3x6.html">
      <div class="row">
        <div class="col" style="padding: 0 1px 0 0;">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image || 'http://placehold.it/200x400&text=%20'}}">
		  </a>
        </div>
        <div class="col" style="padding: 0 0 0 1px;">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image || 'http://placehold.it/200x400&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/6x3:6x3.html">
      <div class="row">
        <div class="col" style="padding: 0 0 1px 0">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image || 'http://placehold.it/400x200&text=%20'}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding: 1px 0 0 0">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image || 'http://placehold.it/400x200&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/6x3:3x3:3x3.html">
      <div class="row">
        <div class="col" style="padding: 1px;">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image || 'http://placehold.it/400x200&text=%20'}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding: 1px;">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image || 'http://placehold.it/300x300&text=%20'}}">
		  </a>
        </div>
        <div class="col" style="padding: 1px;">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image || 'http://placehold.it/300x300&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/3x3:3x3:6x3.html">
      <div class="row">
        <div class="col" style="padding: 0 1px 1px 0;">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image || 'http://placehold.it/200x200&text=%20'}}">
		  </a>
        </div>
        <div class="col" style="padding: 0 0 1px 1px;">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image || 'http://placehold.it/200x200&text=%20'}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding: 1px 0 0 0;">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image || 'http://placehold.it/400x200&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/3x3:3x6:3x3.html">
      <div class="row">
        <div class="col" style="padding: 0;">
          <div class="row" style="padding: 0;">
            <div class="col" style="padding: 0 1px 1px 0">
              <a ui-sref="product({id: data[0].id})">
                <img src="{{data[0].image || 'http://placehold.it/200x200&text=%20'}}">
              </a>
            </div>
          </div>
          <div class="row" style="padding: 0;">
            <div class="col" style="padding: 5px 1px 0 0">
              <a ui-sref="product({id: data[2].id})">
                <img src="{{data[2].image || 'http://placehold.it/200x200&text=%20'}}">
              </a>
            </div>
          </div>
        </div>
        <div class="col" style="padding: 0 0 0 1px">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image || 'http://placehold.it/200x400&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/3x6:3x3:3x3.html">
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image}}">
		  </a>
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/3x3:3x3:3x3:3x3.html">
      <div class="row">
        <div class="col" style="padding: 0 1px 1px 0">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{(activeSquare === undefined || activeSquare == 0) && data[0].image || ('http://placehold.it/150' + (activeSquare == 0 ? '/990' : '') + '&text=%20')}}">
		  </a>
        </div>
        <div class="col" style="padding: 0 0 1px 1px;">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{(activeSquare === undefined || activeSquare == 1) && data[1].image || ('http://placehold.it/150' + (activeSquare == 1 ? '/990' : '') + '&text=%20')}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col" style="padding: 1px 1px 0 0">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{(activeSquare === undefined || activeSquare == 2) && data[2].image || ('http://placehold.it/150' + (activeSquare == 2 ? '/990' : '') + '&text=%20')}}">
		  </a>
        </div>
        <div class="col" style="padding: 1px 0 0 1px">
          <a ui-sref="product({id: data[3].id})">
			<img src="{{(activeSquare === undefined || activeSquare == 3) && data[3].image || ('http://placehold.it/150' + (activeSquare == 3 ? '/990' : '') + '&text=%20')}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/4x4:2x4:2x2:2x2:2x2.html">
      <div class="row">
        <div class="col col-66">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-33">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[3].id})">
			<img src="{{data[3].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[4].id})">
			<img src="{{data[4].image}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/4x4:2x2:2x2:4x2:2x2.html">
      <div class="row">
        <div class="col col-66">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image}}">
		  </a>
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-66">
          <a ui-sref="product({id: data[3].id})">
			<img src="{{data[3].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[4].id})">
			<img src="{{data[4].image}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/4x4:2x2:2x2:2x2:4x2.html">
      <div class="row">
        <div class="col col-66">
          <a ui-sref="product({id: data[0].id})">
            <img src="{{data[0].image}}">
          </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[1].id})">
            <img src="{{data[1].image}}">
          </a>
          <a ui-sref="product({id: data[2].id})">
            <img src="{{data[2].image}}">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-33">
          <a ui-sref="product({id: data[3].id})">
            <img src="{{data[3].image}}">
          </a>
        </div>
        <div class="col col-66">
          <a ui-sref="product({id: data[4].id})">
            <img src="{{data[4].image}}">
          </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/4x4:2x2:2x2:2x2:2x2:2x2.html">
      <div class="row">
        <div class="col-66" style="padding: 2px 0;">
          <a ui-sref="product({id: data[0].id})">
            <img src="{{data[0].image || 'http://placehold.it/200&text=%20'}}">
          </a>
        </div>
        <div class="col-33">
          <div class="row" style="padding: 2px 0 2px 2px;">
            <div class="col-100">
              <a ui-sref="product({id: data[1].id})" class="box-33" >
                <img src="{{data[1].image || 'http://placehold.it/150&text=%20'}}">
              </a>
            </div>
          </div>
          <div class="row" style="padding: 6px 0 0 2px;">
            <div class="col-100">
                <img src="{{data[2].image || 'http://placehold.it/150&text=%20'}}">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-33" style="padding-right: 2px">
          <a ui-sref="product({id: data[3].id})" class="box-33" >
			<img src="{{data[3].image || 'http://placehold.it/150&text=%20'}}">
		  </a>
        </div>
        <div class="col-33" style="padding: 0 1px;">
          <a ui-sref="product({id: data[4].id})" class="box-33" >
			<img src="{{data[4].image || 'http://placehold.it/150&text=%20'}}">
		  </a>
        </div>
        <div class="col-33" style="marin-bottom: 1px solid white; padding: 1px 1px 1px 2px;">
          <a ui-sref="product({id: data[5].id})" class="box-33" >
			<img src="{{data[5].image || 'http://placehold.it/150&text=%20'}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/2x4:2x4:2x2:2x2:2x2:4x2.html">
      <div class="row">
        <div class="col col-33">
          <a ui-sref="product({id: data[0].id})">
            <img src="{{data[0].image}}">
          </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[1].id})">
            <img src="{{data[1].image}}">
          </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[0].id})">
            <img src="{{data[2].image}}">
          </a>
          <a ui-sref="product({id: data[1].id})">
            <img src="{{data[3].image}}">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col col-33">
          <a ui-sref="product({id: data[3].id})">
            <img src="{{data[4].image}}">
          </a>
        </div>
        <div class="col col-66">
          <a ui-sref="product({id: data[4].id})">
            <img src="{{data[5].image}}">
          </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/2x4:2x4:2x2:2x2:2x2:2x2:2x2.html">
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image}}">
		  </a>
          <a ui-sref="product({id: data[3].id})">
			<img src="{{data[3].image}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[4].id})">
			<img src="{{data[4].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[5].id})">
			<img src="{{data[5].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[6].id})">
			<img src="{{data[6].image}}">
		  </a>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="/layouts/2x2:2x2:2x2:2x2:2x2:2x2:2x2:2x2:2x2.html">
      <div class="row">
        <div class="col col-33">
          <a ui-sref="product({id: data[0].id})">
			<img src="{{data[0].image}}">
		  </a>
        </div>
        <div class="col col-33">
          <a ui-sref="product({id: data[1].id})">
			<img src="{{data[1].image}}">
		  </a>
        </div>
        <div clas="col col-33">
          <a ui-sref="product({id: data[2].id})">
			<img src="{{data[2].image}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[3].id})">
			<img src="{{data[3].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[4].id})">
			<img src="{{data[4].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[5].id})">
			<img src="{{data[5].image}}">
		  </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a ui-sref="product({id: data[6].id})">
			<img src="{{data[6].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[7].id})">
			<img src="{{data[7].image}}">
		  </a>
        </div>
        <div class="col">
          <a ui-sref="product({id: data[8].id})">
			<img src="{{data[8].image}}">
		  </a>
        </div>
      </div>
    </script>

    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button" ng-click="fbLogin()">Login</button>
        <button class="button" ng-click="fbLogout()">Logout</button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view>
    </ion-nav-view>
    <ion-footer-bar>
      <div class="tabs tabs-icon-top tabs-dark">
        <a class="tab-item" ui-sref="home">
          <i class="icon ion-ios7-home"></i>
          home
        </a>
        <a class="tab-item" ui-sref="discover">
          <i class="icon ion-ios7-search"></i>
          discover
        </a>
        <a class="tab-item" ui-sref="board_create">
          <i class="icon ion-grid"></i>
          create
        </a>
        <a class="tab-item" ui-sref="news">
          <i class="icon ion-ios7-chatbubble"></i>
          news
        </a>
        <a class="tab-item" ui-sref="profile.user.board({id: me.id})">
          <i class="icon ion-ios7-person"></i>
          me
        </a>
        <a class="tab-item" ui-sref="api">
          <i class="icon ion-ios-cloud"></i>
          api
        </a>
      </div>
    </ion-footer-bar>
  </body>
</html>
