<ion-view view-title="Login">
    <ion-content>
        {{profile}}
        <label class="item" ng-if="profile.state !== 'initialized'">
            Loading...
        </label>
        <label class="item" ng-if="profile.state === 'initialized'">
            <button class="button button-block button-positive" ng-click="fbLogin()">
                Login with Facebook
            </button>
        </label>
    </ion-content>
</ion-view>