<ion-view view-title="sobazaar">
    <ion-content scroll="false" style="bottom: 0;">
        <cardlist style="position: absolute; width: 100%; top: 0; bottom: 0;" data="data.feed"></cardlist>
    </ion-content>
</ion-view>
