<ion-view title="search" cache-view="false">
    <ion-content scroll="false">
        <div class="sobazaar-content">
            <search-bar query="query" search="search" focus="true"></search-bar>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ui-sref="search.brand" ng-click="search(false, 'brand')">
                    brands
                </a>
                <a class="tab-item" ui-sref="search.product" ng-click="search(false, 'product')">
                    products
                </a>
                <a class="tab-item" ui-sref="search.user" ng-click="search(false, 'user')">
                    users
                </a>
            </div>
        </div>
        <ui-view name="content"></ui-view>
    </ion-content>
</ion-view>
