<ion-view title="{{data.product.actor.name}}">
    <ion-content style="bottom: 0; margin-bottom: 60px">
        <div class="sobazaar-content">
            <sobazaar-card sc-id="{{data.id}}"></sobazaar-card>
            <h2>Products in this board</h2>
            <div class="row gallery list">
                <div class="item sobazaar-card col col-50" ng-repeat="product in data.products">

                    <a ui-sref="product({id: product.id})">
                        <img class="full-image" src="{{product.image}}">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
