<ion-view title="create board">
    <ion-content>
        <div class="sobazaar-content">
            {{data}}
            Coming soon...
            <div class="box">
                <render-fashion-board class="content" rfb-id="{{data.id}}" ng-click="selectProduct($event)"></render-fashion-board>
            </div>

            <ion-scroll direction="x" class="item">
                <render-fashion-board class="item" rfb-layout="{{l}}" rfb-id="{{data.id}}" select-on-click ng-repeat="l in layouts track by $index" style="float: left; padding: 0; width: 50px; height: 50px;"></render-fashion-board>
            </ion-scroll>
        </div>
    </ion-content>
</ion-view>
