<ion-view title="select product">
    <ion-content scroll="false" style="bottom: 0;">
        <div style="position: absolute; height: 44px; width: 100%; left: 0; right: 0; z-index: 200; bottom: 50px;" class="balanced-bg sobazaar-content">
            <render-fashion-board class="item" rfb-active-square="{{$index}}" rfb-layout="{{board.layout}}" rfb-id="{{board.id}}" ng-repeat="l in items track by $index" style="float: left; padding: 0; width: 50px; height: 50px;"></render-fashion-board>
        </div>
        <product-thumbnail-list style="position: absolute; width: 100%; top: 0; bottom: 0;" data="data"></product-thumbnail-list>
    </ion-content>
</ion-view>
