<ion-view view-title="Login">
    <ion-content>
        <label class="item">
            <button class="button button-block button-positive" ng-click="fbLogin()">
                Login with Facebook
            </button>
        </label>
        <label class="item">
            <button button="button button-block button-negative" ng-click="fbLogout()">
                Logout of facebook
            </button>
        </label>

        <script type="text/javascript">
            console.log('skjera')
        </script>
        <script>
            console.log('heya', Auth0Lock)
             </script>
        test
    </ion-content>
</ion-view>