<ion-scroll direction="y" style="position: absolute; top: 140px;" class="has-footer" on-scroll="onScroll()">
    <div class="list" ng-repeat-start="item in data.items">

        {{$index}}/{{data.items.length}} - {{item.id}}
        <load-more-trigger ng-if="!loading && $index == data.items.length - 12 && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>

        <a class="item item-avatar" ui-sref="profile.brand({id: item.id})">
            <img src="{{item.image}}">
            <h2>{{item.name}} more: {{more == true}}</h2>
            <follow-button style="right: 11px; top: 11px; position: absolute;" fb-id="{{item.id}}"></follow-button>
        </a>
    </div>

    <div ng-repeat-end>
        <loading-indicator></loading-indicator>
        <end-of-feed></end-of-feed>
    </div>

</ion-scroll>

