<ion-scroll direction="y" style="width: 100%; height: 100%;" on-scroll="onScroll()">
    <div class="list list-inset sobazaar-card" vs-repeat>
        <div class="card post" ng-repeat-start="scData in data.items track by $index">
            <load-more-trigger ng-if="!loading && $index == data.items.length - data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>

            <sobazaar-card sc-id="{{scData.id}}"></sobazaar-card>
        </div>
        <div ng-repeat-end ng-if="$last" style="margin-bottom: 60px;">
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>
    </div>
</ion-scroll>
