<ion-list>
    <a class="item item-avatar" ng-repeat="item in data.items track by $index">
        <img src="{{item.actor.image}}">
        <h2>{{item.actor.name}}</h2>
        <p>{{item.comment}}</p>
    </a>
</ion-list>

<ion-infinite-scroll distance="50%" on-infinite="loadMore()" ng-if="data.next_page">
</ion-infinite-scroll>
