<ion-scroll direction="y" style="width: 100%; height: 100%;" on-scroll="onScroll()">
    <!--<div class="row gallery">-->
    <!--<div class="list list-inset sobazaar-card col col-50 item" ng-repeat="item in data.items">-->
    <div class="row gallery sobazaar-content" vs-repeat>
        <div class="item col-20" style="padding: 0;" ng-repeat-start="item in data.items track by $index">
            <load-more-trigger ng-if="!loading && $index == data.items.length - data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>
            <img width="100%" src="{{item.image}}" ng-click="emitProduct(item)">
        </div>
        <div ng-repeat-end ng-if="$last" style="margin-bottom: 60px;">
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>
    </div>
</ion-scroll>
