<ion-scroll direction="y" style="width: 100%; height: 100%;" on-scroll="onScroll()">
    <!--<div class="row gallery">-->
        <!--<div class="list list-inset sobazaar-card col col-50 item" ng-repeat="item in data.items">-->
    <div class="list list-inset sobazaar-card" vs-repeat>
        <div class="card" ng-repeat-start="item in data.items track by $index">
            <load-more-trigger ng-if="!loading && $index == data.items.length - data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>
            <a href="{{item.actor.uri}}">
                <div class="item item-avatar">
                    <img src="{{item.actor.image}}">
                    <h2>{{item.actor.name}}</h2>
                    <p>{{item.title}}</p>
                </div>
            </a>

            <a ui-sref="product({id: item.id})">
                <div class="item item-body">
                    <img width="358px" height="358px" src="{{item.image}}">
                </div>
            </a>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <love-button show-count="{{item.loves}}" clickable lb-id="{{item.id}}"></love-button>
                </a>
                <a class="tab-item">
                    <product-price pp-id="{{item.id}}"></product-price>
                </a>
            </div>
        </div>

        <div ng-repeat-end ng-if="$last" style="margin-bottom: 60px;">
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>
    </div>
</ion-scroll>
