<ion-scroll direction="y" style="width: 100%; height: 100%;" on-scroll="onScroll()">
    <div class="list list-inset sobazaar-content" vs-repeat>
        <a class="item item-avatar" ui-sref="profile.user({id: item.id})" ng-repeat-start="item in data.items track by $index">

            <load-more-trigger ng-if="!loading && $index == data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>

            <img src="{{item.image}}">
            <h2>{{item.actor.name || item.name}} {{$index}}/{{data.items.length}}</h2>
            <followers-horizontal fh-id="{{item.actor.id || item.id}}" ng-if="showFollowers"></followers-horizontal>
            <!-- TODO: Duplicate css, also found in brandlist.html? -->
            <follow-button ng-if="item.isUser" style="right: 11px; top: 11px; position: absolute;" fb-id="{{item.actor.id || item.id}}" icon-button></follow-button>
            <follow-button ng-if="item.isBrand" style="right: 11px; top: 11px; position: absolute;" fb-id="{{item.actor.id || item.id}}"></follow-button>
        </a>

        <div ng-if="$last" ng-repeat-end style="margin-bottom: 60px;">
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>

    </div>

</ion-scroll>

