<ion-scroll direction="y" style="width: 100%; height: 100%;" on-scroll="onScroll()">
    <div class="list sobazaar-card">
        <div class="card" ng-repeat-start="item in data.items track by $index">

            <load-more-trigger ng-if="!loading && $index == data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>
            <a class="item">
                <h2>{{item.actor.name}}</h2>
                <followers-horizontal count="{{item.followers}}" fh-id="{{item.actor.id}}"></followers-horizontal>
                <follow-button style="right: 11px; top: 11px; position: absolute;" fb-id="{{item.actor.id}}" icon-button></follow-button>
            </a>

            <div class="item">
                <ion-scroll direction="x" class="wide-as-needed" locking="false">
                    <a ui-sref="profile.user.board({id: item.actor.id})">
                        <img width="150px" height="150px" src="{{item.actor.image}}">
                    </a>
                    <a ng-repeat="b in item.boards" ui-sref="board({id: item.actor.id})"><!--ui-sref="profile.user.board({id: item.actor.id})">-->
                        <img width="150px" height="150px" src="{{b.image}}">
                    </a>
                </ion-scroll>
            </div>
        </div>
        <div ng-repeat-end ng-if="$last" style="margin-bottom: 85px;">
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>
    </div>
</ion-scroll>
