<div class="list list-inset">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="{{placeholder}}" ng-model="localQuery" focus-me="focus" ng-disabled="disabled">
    </label>
</div>