<a href="{{scData.actor.uri}}">
    <div class="item item-avatar" affix-within-container=".post" affix-offset="44"> <!-- 204 for profile page -->
        <img src="{{scData.actor.image}}">
        <h2>{{scData.actor.name}}</h2>
        <p>{{scData.title}}</p>
    </div>
</a>
<div class="item item.body">
    {{scData.tag_type}} - {{scData.layout}}
    <render-fashion-board rfb-id="{{scData.id}}" ng-if="scData.isFashionBoard()"></render-fashion-board>
    <render-board rb-id="{{scData.id}}" ng-if="scData.isSaleBoard()|| scData.isNewBoard() || scData.isLoveBoard()"></render-board>
    <div ng-if="!(scData.isFashionBoard() || scData.isSaleBoard() || scData.isNewBoard() || scData.isLoveBoard())">Unknown board</div>
</div>
<div class="item tabs tabs-secondary tabs-icon-left" ng-if="scData.commentCount || scData.loveCount">
    <a class="tab-item" ng-if="scData.loveCount">
        <love-button redirect-on-click="lovers" redirect-on-click-params="{id: '{{scData.id}}'}" lb-id="{{scData.id}}" show-count show-text hide-on-zero></love-button>
    </a>
    <a class="tab-item" ng-if="scData.commentCount">
        <comment-button redirect-on-click="comment" redirect-on-click-params="{id: '{{scData.id}}'}" cb-id="{{scData.id}}" show-count show-text hide-on-zero></comment-button>
    </a>
</div>
<div class="item" ng-if="scData.commentCount">
    <p ng-repeat="item in scData.comments.items |limitTo:3 track by $index">{{item.actor.name}}: {{item.comment}}</p>
</div>

<div class="item tabs">
    <a class="tab-item">
        <love-button lb-id="{{scData.id}}" clickable></love-button>
    </a>
    <a class="tab-item">
        <comment-button redirect-on-click="comment" redirect-on-click-params="{id: '{{scData.id}}'}"></comment-button>
    </a>
    <a class="tab-item">
        <share-button share-model></share-button>
    </a>
    <a class="tab-item" edit-card-modal>
        <i class="icon ion-more"></i>
    </a>
</div>