<ion-scroll direction="y" style="width: 100%; height: 100%;">
    <div class="list sobazaar-content">
        <a class="item item-avatar" ui-sref="profile.user({id: item.id})" ng-repeat-start="item in data.items">

            {{$index}}/{{data.items.length}} - {{item.id}}
            <load-more-trigger ng-if="!loading && $index == data.items.length - data.loadingIndicatorPosition && more" scroll-event="scrollEvent" on-scroll="loadMore()"></load-more-trigger>

            <img src="{{item.image || item.image || item.profile_image || item.actor.profile_image}}">
            <h2>{{item.actor.name || item.name}}</h2>
            <followers-horizontal count="-1" fh-id="{{item.actor.id || item.id}}"></followers-horizontal>
            <!-- TODO: Duplicate css, also found in brandlist.html? -->
            <follow-button style="right: 11px; top: 11px; position: absolute;" fb-id="{{item.actor.id || item.id}}" icon-button></follow-button>
        </a>
        <div ng-repeat-end>
            <loading-indicator></loading-indicator>
            <end-of-feed></end-of-feed>
        </div>
    </div>
</ion-scroll>
