<ion-view view-title="{{profile.actor.name}}">
    <ion-nav-buttons side="right">
        <follow-button icon-button fb-id="{{profile.actor.id}}"></follow-button>
    </ion-nav-buttons>
    <ion-content scroll="false" style="bottom: 0;">
        <a class="item item-thumbnail-left sobazaar-content">
            <!-- TODO: hack since user and brand api return different actor json format -->
            <img src="{{profile.actor.profile_image || profile.actor.image}}">
            <follow-button fb-id="{{profile.actor.id}}"></follow-button>
            <table width="100%">
                <tr>
                    <td>
                        <!-- TODO: Figure out why clicking on this link doesn't work (using on click action as temporary solution) -->
                        <a ui-sref="followers({id: profile.actor.id})"  ng-click="showFollowers()">
                            {{profile.social.followers.total_count}}
                        </a>
                    </td>
                    <td ng-if="!config.hideFollowing">
                        <!-- TODO: Figure out why clicking on this link doesn't work (using on click action as temporary solution) -->
                        <a ui-sref="following({id: profile.actor.id})" ng-click="showFollowing()">
                            {{profile.social.following.total_count}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        followers
                    </td>
                    <td ng-if="!config.hideFollowing">
                        following
                    </td>
                </tr>
            </table>
        </a>
        <div class="button-bar sobazaar-content">
            <a class="button" ng-class="{'button-light': activeButton === 'board'}" ng-click="$parent.activeButton = 'board'" ui-sref="profile.user.board" style="z-index: 1;" ng-if="config.tabs['board']">
                boards
            </a>
            <a class="button" ng-class="{'button-light': activeButton === 'lovelist'}"  ng-click="$parent.activeButton = 'lovelist'" ui-sref="profile.user.lovelist" style="z-index: 1;" ng-if="config.tabs['lovelist']">
                love list
            </a>
            <a class="button" ng-class="{'button-light': activeButton == 'all'}" ng-click="$parent.activeButton = 'all'" ui-sref="profile.brand.all" ng-if="config.tabs['all']">
                all
            </a>
            <a class="button" ng-class="{'button-light': activeButton == 'new'}" ng-click="$parent.activeButton = 'new'" ui-sref="profile.brand.new" ng-if="config.tabs['new']">
                new
            </a>
            <a class="button" ng-class="{'button-light': activeButton == 'sale'}"  ng-click="$parent.activeButton = 'sale'" ui-sref="profile.brand.sale" ng-if="config.tabs['sale']">
                sale
            </a>
        </div>
        <ui-view></ui-view>
    </ion-content>
</ion-view>
