<ion-view title="{{data.product.actor.name}}">
    <ion-content>
        <ui class="list">
            <li class="item">
                <single-image-carousel images="{{data.product.images}}"></single-image-carousel>
            </li>
            <li class="item">
                <h2>{{data.product.name}}</h2>
                <buy-button></buy-button>
                <div>
                    <love-button lb-id="{{data.product.id}}" show-text show-count></love-button>
                    <product-price price-data="data.product.price"></product-price>
                </div>
            </li>
            <li class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <love-button clickable lb-id="{{data.product.id}}"></love-button>
                </a>
                <a class="tab-item">
                    <product-info-button></product-info-button>
                </a>
                <a class="tab-item">
                    <share-button></share-button>
                </a>
            </li>
            <li class="item">
                <collapsable-content hide="hidden">

                </collapsable-content>
            </li>
            <li class="item" ng-hide="hidden">
                <productlist data="data.more_like_this"></productlist>
            </li>
        </ui>
    </ion-content>
</ion-view>
